INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation
vendor/
composer.lock
composer.phar
phpunit.phar
php-cs-fixer.phar
.idea/*
.DS_Store?
.DS_Store
local*.php
build/artifacts
build/logs
build/staging